<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarttoy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
 
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="com.smarttoy.global.SmartToyApplication">
        <activity android:label="@string/app_client" android:name="com.smarttoy.client.ui.ControllerActivity" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation">
        </activity><activity android:name=".global.StartupActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smarttoy.server.ui.ServerActivity"
            android:label="@string/app_server" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation">
        </activity>
        
        <service android:name=".server.ui.ToyService"></service>
        
        
    </application>

</manifest>
